NEXT_PUBLIC_API_URL=https://capstone-7iiw.vercel.app/
NEXT_PUBLIC_SUPABASE_URL=https://iywsomptbjlvjuektsuz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5d3NvbXB0Ympsdmp1ZWt0c3V6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MjM4ODgsImV4cCI6MjA5MTI5OTg4OH0.1DPfhNZBofdw-aobvXY3-NBvW_DvOdxvxkaFpY9788U
NEXT_PUBLIC_SUPABASE_REF=iywsomptbjlvjuektsuz
