NEXT_PUBLIC_API_URL=https://finsmart.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://bpouxgzzbydzqowbmbof.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_15NxZ7yI0lMcOYDtT0O0DA_ov3YrsUL
NEXT_PUBLIC_SUPABASE_REF=bpouxgzzbydzqowbmbof
