NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:3000
SUPABASE_URL=https://veqnpvndiauogjqukdyr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlcW5wdm5kaWF1b2dqcXVrZHlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NDc5MzcsImV4cCI6MjA4ODUyMzkzN30.pWie1IXPsugje4DcxIoerLV5Wxnh4kz84yqfZ5FrW6k
ACCESS_TOKEN_SECRET=ganti_dengan_random_32_karakter
REFRESH_TOKEN_SECRET=ganti_dengan_random_32_karakter_lain
DATABASE_URL="postgresql://postgres.veqnpvndiauogjqukdyr:3M6nRzTAPCFhXu6w@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres"
